@use "../../styles/based/variables" as *;
@use "../../styles/based/functions" as *;

.invoice-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr auto auto;
  align-items: center;
  gap: 24px;
  padding: 24px 24px 24px 32px;
  background-color: var(--card-background);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  cursor: pointer;
  text-wrap: no-wrap;
  white-space: nowrap;
  transition: border-color 0.2s ease;

  &:hover {
    border-color: #7c5dfa;
  }

  &__id {
    font-size: 15px;
    font-weight: 700;
    color: var(--text-primary);
    letter-spacing: -0.25px;
  }

  &__hash {
    color: var(--text-hash);
  }

  &__date {
    font-size: 13px;
    font-weight: 500;
    color: var(--text-secondary);
  }

  &__client {
    font-size: 13px;
    font-weight: 500;
    justify-self: start;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--text-secondary);
  }

  &__amount {
    font-size: 16px;
    font-weight: 700;
    color: var(--text-primary);
    letter-spacing: -0.8px;
    justify-self: end;
  }

  &__status {
    min-width: 104px;
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

// Light Mode
:root {
  --card-background: #ffffff;
  --card-border: transparent;
  --text-hash: #7e88c3;
}

// Dark Mode
[data-theme="dark"] {
  --card-background: #1e2139;
  --card-border: #1e2139;
}

@media (max-width: 768px) {
  .invoice-card {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 16px;
    padding: 24px;

    &__id {
      grid-column: 1;
      grid-row: 1;
    }
    &__client {
      grid-column: 2;
      grid-row: 1;
      justify-self: end;
    }
    &__date {
      grid-column: 1;
      grid-row: 2;
    }
    &__amount {
      grid-column: 1 / -1;
      grid-row: 3;
      justify-self: start;
      font-size: 20px;
    }
    &__status {
      grid-column: 2;
      grid-row: 3;
      justify-self: end;
    }
    &__arrow {
      display: none;
    }
  }
}
