@use "./mixins" as *;
.heading-l {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 2.0625rem;
  letter-spacing: -0.0625rem;
}

.heading-m {
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.375rem;
  letter-spacing: -0.0469rem;
}

.heading-s {
  @include heading-s(1.5rem);
}

.heading-s-v {
  @include heading-s(0.9375rem);
}

.body-text {
  @include body-text(1.125rem, -0.00625rem);
}

.body-text-v {
  @include body-text(0.9375rem, -0.0156rem);
}
