@import "../styles/_index.scss";

:root {
  --background: #F8F8FB;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #F8F8FB;
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
    --background: #141625;
    --foreground: #F8F8FB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "League Spartan", sans-serif;
}
