@import "../styles/_index.scss";

:root {
  --background: #f8f8fb;
  --foreground: #171717;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #f8f8fb;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #141625;
    --foreground: #f8f8fb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "League Spartan", sans-serif;
  padding: 0;
  margin: 0;
}
