@import "../styles/_index.scss";

:root {
  --background: #f8f8fb;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: #0a0a0a;
  --foreground: #f8f8fb;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #141625;
    --foreground: #f8f8fb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "League Spartan", sans-serif;
  padding: 0;
  margin: 0;
}
